@import "base/reset";

// Ejercicio 1A-B
.main {
}

.box {
  border: 2px solid #808080;
  width: calc(25% - 4px);
  padding: 5px;
  display: inline-block;
}

//Ejercicio 1 B
.main_b {
}

.box_b {
  width: calc(25% - 4px);
  padding: 25px;
  display: inline-block;
  text-align: justify;
}
.logo_b {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
//Ejercicio 1 c
.navbar {
  margin-left: -48px;
  margin-top: -10px;
  padding: 5px 48px;
  position: fixed;
  position: sticky;
  top: 0;
  background: green;
}
//ejercicio 2

.sq1 {
  z-index: 2;
}
.sq2 {
  z-index: 1;
}

//ejercicio 3
//Bandera Española
.bandera1{
    background: red;
    width: 400px;
    height: 240px;
}
.amarillo{
    background: yellow;
    position: absolute;
    top: 80px;
    width: 400px;
    height: 80px;
}
//Bandera Dinamarca
.bandera2{
    background: red;
    width: 400px;
    height: 240px;
}
.blancoh{
    background: #ffff;
    position: relative;
    top: 100px;
    width: 400px;
    height: 20px;
}
.blancov{
    background: #ffff;
    position: relative;
    top: -20px;
    left: 120px;
    width: 20px;
    height: 240px;
}